
{% extends 'dashboard.html' %}

{% block title %}
    Search Result | Attendance Management System
{% endblock title %}


{% block content %}
    <h6>Search Result</h6>
    <hr>
    {% for i in messages  %}
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
     <h6 class="text-center">Search Results</h6>
    <hr>
    {% for i in messages  %}
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="card p-5">
       
    </div>
    

    
{% endblock content %}
    
    