{% extends 'dashboard.html' %}

{% block title %}
    Add Member | Attendance Management System
{% endblock title %}

{% block content %}
    <h6>Add Member</h6>
    <hr>
    
    {% for i in messages %}
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        {{ i }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <div class="card p-5">
        {% if total_member < org.member_limit %}
            <form action="" method="post">
                <div class="row">
                    {% for i in form %}
                    <div class="col-6">
                        <label for="exampleInputEmail1">{{ i.label }}</label>
                        {{ i }}
                        {{ i.errors }}
                    </div> 
                    {% endfor %}
                    <div class="col-6">
                        <label for="exampleInputEmail1">Classification</label>
                        <select name="classification" id="" class="form-control">
                            {% for i in classi %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div> 

                    {% csrf_token %}
                    <div class="d-grid mt-2">
                        <button type="submit" class="btn btn-warning">Add Member</button>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="p-3 alert alert-danger">
                <h3 class="text-light">
                    <i class="fa fa-info-circle"></i> Your member limit has been exceeded. Please contact the service provider.
                </h3>
                <hr>
                <p class="text-light">
                    Member limit: {{ org.member_limit }}. Total members: {{ total_member }}.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
