{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
    Leave Report 
{% endblock title %}
{% block content %}
<style>
  /* Add any custom styles if needed */
</style>
<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0" style="padding-right:60px; display: flex; justify-content: space-between;">
          <h6>{{date}}</h6>
          <h6>{{org}} - Leave Report</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Member Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in leave %}
                  <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <p class="mb-0 text-sm text-center text-bolder" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" style="cursor:pointer;">{{i.member.name}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{i.gap_start}}</p>
                      </td>
                      <td>
                          <p class="text-xs font-weight-bold mb-0 text-center">{{i.gap_end}}</p>
                      </td>
                      
                      <td class="p-3 justify-content-center"> 
                       

                        <div class="d-flex">
                          {% if i.approved  %}
                              <p>Approved</p>
                          {% endif %}
                          
                          {% if i.rejected %}
                              <p>Rejected</p>
                          {% endif %}
                          
                          {% if not i.approved and not i.rejected %}
                          <div class="d-flex">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#approveModal{{i.id}}">
                                Approve
                            </button>
                            <button class="btn btn-sm btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#rejectModal{{i.id}}">
                              Reject
                            </button>
                          </div>
                        {% endif %}
                            
                         
                        </div>
                      </td>
                  </tr>
                  <tr class="p-3"> 
                    <td class="align-middle text-sm">
                    <b>Reason:</b>
                    <span>{{i.reason}}</span>
                    </td>
                  </tr>

                  <!-- Approve Modal -->
                  <div class="modal fade" id="approveModal{{i.id}}" tabindex="-1" aria-labelledby="approveModalLabel{{i.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="approveModalLabel{{i.id}}">Confirm Approval</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to approve this leave request?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <a href="{%url 'schooladmin:acceptReject' i.id 'accept'%}">
                            <button type="button" class="btn btn-primary">Approve</button>
                          </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Reject Modal -->
                  <div class="modal fade" id="rejectModal{{i.id}}" tabindex="-1" aria-labelledby="rejectModalLabel{{i.id}}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="rejectModalLabel{{i.id}}">Confirm Rejection</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to reject this leave request?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <a href="{%url 'schooladmin:acceptReject' i.id 'reject'%}">
                            <button type="button" class="btn btn-danger">Reject</button>
                          </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function printData(tId) {
     var printContents = document.getElementById(tId).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
    }
  </script>
{% endblock content %}
