{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
    Member Salary Report 
{% endblock title %}
{% block content %}
<style>

</style>
<div class="row">
  <form action="" method="post">
    <div class="row">
        <div class="col-6">
            <Label for="first_date">From</Label>
            <input type="date" id="first" class="form-control" name="first_date" value="{{first_date}}" onchange="checkBtn()" required>
        </div>
        <div class="col-6">
            <Label for="last_date">To</Label>
            <input type="date"  id= "last" class="form-control" name="last_date" value="{{last_date}}" onchange="checkBtn()" required>
            
        </div>
        <div class="col-12">
            <Label for="classification">Member</Label>
            <select name="member" id="" class="form-select">
            
          {% for c in allMember %}
            <option {% if thisone == c.name  %} selected {%endif%} value="{{c.id}}" >{{c.name}}</option>
          {% endfor %}
            </select>
  
            
        </div>
      
    </div>
    {% csrf_token %}
    <button type="submit" id ="sub" class="btn btn-outline-secondary m-2" onclick="showload()"> Filter </button>
    <br>
   
    
  </form>
  <button class="btn btn-outline-primary m-2 " onclick="printData('printarea')">Print</button>

  <div class="col-12" >
      <div class="card mb-4">
        <div class="card-header pb-0" style="padding-right:60px; display: flex; justify-content: space-between;">
          <h6 >{{first_date}} to {{last_date}} </h6>
          <h6 >{{org}}- {{thisone}}</h6>
          <!-- <h6>{{date}}</h6> -->
        </div>
       
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0" id="printarea">
            <table class="table align-items-center mb-0">
                <thead >
                  <b>
                    <span class="ps-3">-- Total Hour - {{total_hour}} Hours -- </span>
                    <span class="ps-3">-- Total Salary - Rs. {{total_cost}} -- </span>
                  </b>
                   
                </thead>
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">{{first_date}} - {{last_date}} | {{org}} | {{thisone}} </th>
               
                </tr>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Member</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">In</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Out</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Hour</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Salary</th>
                 
                </tr>
              </thead>
              <tbody>
                
                {% for i in tm  %}
                    <tr>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{i.0}}</p>
                        <small>{{i.0|date:'l'}}</small>
                        
                      </td>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <p class="mb-0 text-sm text-center" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" style="cursor:pointer;">{{i.1}}</p>
                              
                              {% if 'All' == thisone %}
                              <p class="text-xs text-secondary mb-0">{{i.group}}</p>

                              
                              {% endif %}
                           
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{i.2}}</p>
                         
                          
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0 text-center">{{i.3}}</p>
                            
                          </td>
                        <td class="align-middle text-center text-sm ">
                          <span class="badge badge-sm bg-gradient-secondary">{{i.4}}</span>
                        </td>
                        <td>
                            <p>
                                <b>  RS. {{i.5}}</b>
                            </p>
                               
                        </td>
                      
                    </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <script>
    sum = document.getElementById("sub")
    sum.disabled = true
    first = document.getElementById("first").value
    last = document.getElementById("last").value
    console.log("i am")
    console.log(first)
    console.log(last)
    if(first != "" && last != "") {
      sum.disabled = false; //button remains disabled
    } else {
      sum.disabled = true; //button is enabled
    }
    function checkBtn(){
        first = document.getElementById("first").value
        last = document.getElementById("last").value
        console.log("i am")
        console.log(first)
        console.log(last)
        if(first != "" && last != "") {
          sum.disabled = false; //button remains disabled
        } else {
          sum.disabled = true; //button is enabled
        }
    }

    function printData(tId) {
      var printContents = document.getElementById(tId).innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
    
  </script>
{% endblock content %}
    
    