{% extends 'pillar.html' %}
{% load static %}
{% block content %}
<style>


  .success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .success-message .tick {
    font-size: 100px;
    color: green;
  }

  .success-message h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
  }

  .success-message p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }
</style>
<div class="container-fluid" id="background">
    <br><br>
    {% for i in messages  %}
      <div class="alert alert-light alert-dismissible fade show" role="alert">
          {{i}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  <div class="success-message">
    <div class="tick">&#10004;</div>
    <h1>Leave Report Sent</h1>
    <p>You will get an email for accepted or rejected leave by your organization admin.</p>
  </div>
</div>
{% endblock content %}
