{% extends 'pillar.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-5">
    
    <div class="row p-2">
       
        {% for i in messages  %}
        <div class="alert alert-secondary alert-light alert-dismissible fade show" role="alert">
            {{i}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
       
        {% endfor %}
    </div>
</div> 

<div class="container-fluid mt-5">
    <h2 class="text-center mt-5" data-aos="flip-right" data-aos-duration="2000" data-aos-once="true" data-aos-offset="200">
        Get to  
        <span class="text-primary">
            know more about us
        </span>
      
    </h2>
    <br>
    <div class="row mt-3"> 
        <div class="card col-12 col-lg-8 p-2 m-auto pb-4" data-aos="flip-up" data-aos-duration="2000" data-aos-once="true" data-aos-offset="200">
            <div class="row p-0 m-0">
                <div class="col-12 col-lg-6" style="border-right: 1px solid rgb(188, 188, 188);">
                    <h3 class="mt-3">
                        <span class="text-danger">
                            Contact 
                        </span>
                        Info
                       
                    </h3>
                  
                    <div class="mt-5 text-center contact-ico">
                        <img src="{%static 'res/phonec.png'%}" class="conIcon" alt="">
                        <p class="mt-1 ps-3 text-primary my-auto">
                            <a href="tel:+9779851104626">+977 9861397178</a>
                        </p>
                    </div>
                    <div class="mt-3 text-center contact-ico">
                        <img src="{%static 'res/mapc.png'%}" class="conIcon" alt="">
                        <p class="mt-1 ps-3 text-primary my-auto">
                            Jorpati Kathmandu
                        </p>
                    </div>
                    <div class="mt-3 text-center contact-ico">
                        <img src="{%static 'res/emailc.png'%}" class="conIcon" alt="">
                        <p class="mt-1 ps-3 text-primary my-auto">
                            <a href="mailto:info@afterschoolnepal.com">info@meroattendance.com</a>
                        </p>
                    </div>
                    <div class="mt-3 text-center contact-ico">
                        <img src="{%static 'res/webc.png'%}" class="conIcon" alt="">
                        <p class="mt-1 ps-3 text-primary my-auto">
                            <a href="http://www.afterschoolnepal.com" target="_blank">www.meroattendance.com</a>
                        </p>
                    </div>
                    
                    <br>
                    <h5 class="mt-2 text-center  ffo ">
                        <u>
                            Follow Us
                        </u>
                       
                    </h5>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="https://www.facebook.com/people/After-School/61557029572455/" target="_blank">
                            <img class="p-2 m-2 follow1" src="{%static 'res/facebook.png'%}" alt="">
                        </a>


                        <a href="https://www.linkedin.com/company/afterschoolnp/" target="_blank">
                            <img class="p-2 m-2 follow1" src="{%static 'res/linkedin.png'%}" alt="">
                        </a>
                      
                        
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <h3 class="mt-3">
                        <span class="text-danger">
                            Contact 
                        </span>
                        Us
                       
                    </h3>
                    <hr>
                    <form method = "POST" class="mt-2">
         
                        <div class="row m-0 p-0 justify-content-between">

                            <div class="col-6 m-0 p-0">
                                <span class="mt-3">Full Name*</span>
                                <div class="d-flex mt-2 me-2 login-input position-relative">
                                    <i class="fa fa-user-check my-auto icon"></i>
                                    {{form.fullname}}
                                    <!-- <input type="text" name="name" class=" form-control create-icon" placeholder="Name.."> -->
                                </div>
                            </div>
                            <br>
                            <div class="col-6 m-0 p-0">
                                <span class="mt-3">Email*</span>
                                <div class="d-flex mt-2 ms-2 login-input position-relative">
                                    <i class="fa fa-mail-bulk my-auto icon"></i>
                                    {{form.email}}
                                    <!-- <input type="text" name="email_user" class=" form-control create-icon" placeholder="Your Email.."> -->
                                </div>
                            </div>
                           
                        </div>
                      
                        <br>
                        <span class="mt-3">Number</span>
                        <div class="d-flex mt-2 login-input position-relative">
                            <i class="fa fa-phone  my-auto icon"></i>
                            {{form.number}}
                            <!-- <input type="text" name="number" class=" form-control create-icon" placeholder="Number"> -->
                        </div>
                        <br>
                        <span class="mt-3">Your Feedback*</span>
                        <div class="d-flex mt-2 login-input position-relative">
                            <i class="fa fa-passport my-auto icon"></i> 
                            {{form.message}}
                            <!-- <textarea type="text" name = "remarks" class="form-control create-icon" placeholder="Remarks.." style="height: 100px;"></textarea> -->
                
                        </div>
                       
                        {% csrf_token %}
                        <div class="mt-3">
                            <button class="btn btn-primary mt-2 w-100">
                               Send Message
                            </button>
                        </div>
                       
                       
                    </form>
                </div>
            </div>
            <br><br>
        </div>

        
    </div>
</div>
{% endblock content %}
    

