{% extends 'pillar.html' %}
{% load static %}
{% block content %}
    <style>
    .loader{
      display: none;
    }

  </style>
    <div class="container-fluid" id="background">
       
        <div class="row">
            <div class="col-lg-12 col-12 col-md-12 ">
                <div class="form-design m-auto mt-4 p-2">
                    
                    {% for i in messages  %}
                    <div class="alert alert-light alert-dismissible fade show" role="alert">
                        {{i}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}
                        
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12 my-auto">
                          <div class="card">
                            <div class="card p-5">
                              {% if mem.org.image %}
                                  <img src="{{ mem.org.image.url }}" alt="Mero Attendance" style="height: auto; width: 100%">
                              {% else %}
                                  <img src="{% static 'res/click.png' %}" alt="Mero Attendance" style="height: auto; width: 100%">
                              {% endif %}
                  
                              <div class="text-center">
                                  <h5>{{ mem.org.name }}</h5>
                                  <p>{{ mem.org.address }}</p>
                              
                              </div>
                              <hr>
                              <h5 class="text-center">Member Details</h5>
                              <hr>
                              <div class="text-center">
                                <h5>Name: {{ mem.name }}</h5>
                                <p>Address: {{ mem.address }}</p>
                                <p>
                                  Phone: {{mem.phone}}
                                </p>
                                <p>
                                  Email: {{mem.email}}
                                </p>
                            
                            </div>
                  
                            
                          </div>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="loader text-center" id="loader">
                                <div class="spinner-grow text-success" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-warning" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-info" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-light" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                              </div>
                              
                              <form action="" method="post" class="login-form p-3">
                                <h2 class="text-center">Mero <b> <span style="color: red;">Attendance</span></b></h2>
                                <hr>
                                <h6 class="text-center">Ask For <b> <span style="color: red;">Leave</span></b></h6>
                                <div class="p-0 m-0 text-center">
                                    <small>Digital Attendance Nepal</small>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="holidayType" class="form-label">Leave Type</label>
                                    <select class="form-control" id="holidayType" name="holidayType" onchange="toggleEndDate()">
                                        <option value="1-day">1 Day</option>
                                        <option value="gap">Gap Leave</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                  <label for="occasionDate" class="form-label">Select Start Date</label>
                                  <input type="date" class="form-control" id="occasionDate" name="gap_start" required>
                              </div>
                              <div class="mb-3" id="endDateDiv" style="display: none;">
                                  <label for="occasionEndDate" class="form-label">Select End Date</label>
                                  <input type="date" class="form-control" id="occasionEndDate" name="gap_end">
                              </div>
                               
                                {{ form }}
                                {% csrf_token %}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-outline-danger" type="button">Send Report</button>
                                </div>
                                <p class="text-center m-0 p-0 mt-4">
                                    All Right Reserved
                                </p>
                            
                                <p class="text-center m-0 p-0">@copy WakeandTechNepal</p>
                            </form>
                        </div>

                        

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
      function toggleEndDate() {
          var holidayType = document.getElementById("holidayType").value;
          var endDateDiv = document.getElementById("endDateDiv");
          if (holidayType === "gap") {
              endDateDiv.style.display = "block";
          } else {
              endDateDiv.style.display = "none";
          }
      }
  </script>
{% endblock content %}
    