{% extends 'pillar.html' %}
{% load static %}
{% block content %}
    <style>
    .loader{
      display: none;
    }

  </style>
    <div class="container-fluid" id="background">
        <br><br>
        <div class="row">
            <div class="col-lg-12 col-12 col-md-12 ">
               <h1 class="text-center">
                Puller Download
               </h1>
               <hr>
               <h6 class="text-center">
                Click the link below to download puller app for meroattendance.com
               </h6>
               <br>
               <div class="text-center">
                <a href="{%static 'res/puller.zip'%}" download>
                    <button class="btn btn-danger p-3">
                        <h3> Download</h3>
                       
                    </button>
                   </a>
               </div>
              
          
            </div>
        </div>
    </div>
{% endblock content %}
    