{% extends "pillar.html" %}
{% block title %}
  Reset your password
{% endblock title %}
{% block content %}
<style>
    input:required {
      background-color: #ffffff;
      border: 1px solid;
      width: 100%;
      height: 39px;
    }
  </style>
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form}}                    
            <button class="btn btn-primary mt-3" type="submit">Reset password</button>
        </form>
    </div>

{% endblock %}