{% extends 'pillar.html' %}
{% load static %}

{% block content %}
    <div class="about-bg m-auto">
        <div class="glassBox my-auto">
            <h3 class="text-center p-2">
                Nepal's <span class="text-danger">1st</span> cloud attendance system
            </h3>
            <p class="text-center text-black-50 p-2">ESTD 2020</p>

            <div class="row p-0 m-0">
                <div  class="col-6 mt-3 col-lg-3">
                    <img src="{%static 'res/time.webp'%}" alt="">
                    <p class="text-dark text-center">SAVE TIME</p>
                </div>
                <div  class="col-6 mt-3 col-lg-3">
                    <img src="{%static 'res/papers.png'%}" alt="">
                    <p class="text-dark text-center">SAVE PAPERS</p>
                </div>
                <div  class="col-6 mt-3 col-lg-3">
                    <img src="{%static 'res/money.png'%}" alt="">
                    <p class="text-dark text-center">SAVE MONEY</p>
                </div>

                <div  class="col-6 mt-3 col-lg-3">
                    <img src="{%static 'res/acces.png'%}" alt="">
                    <p class="text-dark text-center">EASY ACCESS</p>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 pb-5">
        <h3 class="mt-3 text-center">Our Partners</h3>
        <br>
        <div class="row">
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/idb.gif'%}" alt="">
            </div>
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/jaljala.png'%}" alt="">
                <p>Jaljala Gaupalika</p>
            </div>
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/ktm.png'%}" alt="">
            </div>
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/nepal.png'%}" alt="">
            </div>

            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/soham.png'%}" alt="">
            </div>
    
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/pasupati.png'%}" alt="">
            </div>
    
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/wake.jpeg'%}" alt="">
            </div>
    
            <div class="col-lg-3 col-6 mt-3 p-2 text-center">
                <img class="partner" src="{%static 'res/partner/adhikari.png'%}" alt="">
            </div>
        </div>

       
    </div>
{% endblock content %}