{% load static %}
<div class="idc-card-pair">
  <div class="idc-card-label">Front</div>
  <div class="idc-card idc-sl" style="background:#fff;{% if template.front_background %}background-image:url('{{ template.front_background.url }}');{% endif %}">
    <div class="idc-sl-band" style="background:linear-gradient(90deg, {{ template.primary_color }}, {{ template.secondary_color }});">
      {% if template.show_logo and org.image %}<img class="idc-org-logo" src="{{ org.image.url }}">{% endif %}
      {% if template.show_org_name %}<div class="idc-org-name" style="color:#fff;">{{ org.name }}</div>{% endif %}
      <div class="idc-sl-label">Student ID</div>
    </div>
    <div class="idc-sl-body">
      {% if template.show_photo %}
        {% if m.photo %}<img class="idc-photo idc-sl-photo" src="{{ m.photo.url }}">{% else %}<div class="idc-photo idc-sl-photo d-flex align-items-center justify-content-center text-muted"><i class="fas fa-user"></i></div>{% endif %}
      {% endif %}
      <div class="idc-fields idc-sl-fields">
        <div class="idc-name">{{ m.name }}</div>
        {% include "admin/idcard/designs/_fields.html" %}
      </div>
    </div>
  </div>

  <div class="idc-card-label">Back</div>
  <div class="idc-card idc-sl idc-back" style="{% if template.back_background %}background-image:url('{{ template.back_background.url }}');{% endif %}">
    <div class="idc-sl-band" style="background:linear-gradient(90deg, {{ template.primary_color }}, {{ template.secondary_color }});height:8mm;"></div>
    {% include "admin/idcard/designs/_back_common.html" %}
  </div>
</div>
