{% extends 'dashboard.html' %}

{% block title %}
    Password Change |Attendance Management System
{% endblock title %}

{% block content %}
    <h6>Change Your Password</h6>
    <hr>
    {% for i in messages  %}
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="card p-5">
        <form action="" method="post">
            {% for field in form  %}
            <div class="col-md-12 border-bottom p-2">
                {{ field }}
                <!-- {{ field.help_text | safe }} -->
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
             </div>
            {% endfor %}
            {% csrf_token %}
            <br>
            <div class="p-2 d-grid">
                <button class="btn btn-danger btn-block text-light mb-3" id="submit"> <i class="fa fa-key"></i> Change Password</button>
            </div>
           

        </form>  
    </div>

{% endblock content %}
    