{% extends 'dashboard.html' %}

{% block title %}
    Edit Member |Attendance Management System
{% endblock title %}


{% block content %}
    <h6>Edit Memeber</h6>
    <hr>
    
    {% for i in messages  %}
    <div class="alert alert-light alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card p-5">
                <div class="text-center">
                    <h5>Id: {{mem.id}}</h5>
                    <h5>Name: {{mem.name}}</h5>
                    <p>Classification: {{mem.classification}}</p>
                    <p>Card: {{mem.card}}</p>
                    <p>Device Id: {{mem.device_id}}</p>
                    <p>Email: {{mem.email}}</p>
                    <p>Address: {{mem.address}}</p>
                </div>
                <div class="d-block">
                    
                        <button class="btn btn-danger btn-block" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Delete
                        </button>
            
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete {{mem.name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                          
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{%url 'handle:deleteMember' mem.id%}">
                                <button type="button" class="btn btn-danger">Procced</button>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-5">
                <form action="" method="post">
                    <div class="row">
                    
                        {% for i in  form %}
                        <div class="col-6">
                            <label for="exampleInputEmail1">{{i.label}}</label>
                            {{i}}
                            {{i.errors}}
                        </div> 
                        {% endfor %}
                        <div class="col-6">
                            <label for="exampleInputEmail1">Classification</label>
                            <select name="classification" id="" class="form-control">
                                {% for i in classi  %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div> 
    
                        {% csrf_token %}
                        <div class="d-grid mt-2">
                            <button type="submit" class="btn btn-warning"> Update Member </button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    
   
    
{% endblock content %}
    